:root {
  --primary: #407076;
  --secondary: #7FBEEB;
  --highlight: #0AD3FF;

  --dark: #02020A;
  --light: #FFDDD2;

  --shadow: #829399;
}

.light {
  color: var(--light);
}
.dark {
  color: var(--dark);
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}

.active {
  background-color: var(--secondary);
  color: var(--dark);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  color: var(--light);
  border-bottom: 1px solid var(--dark);
  z-index: 10;
}
header div {
  align-items: center;
  justify-content: space-between;
}
header h1 {
  position: relative;
  padding: 3px 5px 3px 5px;
  font-size: 24px;
  display: inline-block;
}
header span {
  float: right;
}
a {
  color: var(--light);
  text-decoration: none;
}
.btn {
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  border: 1px solid var(--light);
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}
.btn-secondary {
  background-color: var(--secondary);
}
.btn:hover, .navbar li a:hover{
  background-color: var(--highlight);
  color: var(--dark);
}
.navbar ul {
  width: 100%;
}
.navbar li {
  display: inline;
  overflow: hidden;
}
.navbar li a {
  float: left;
  display: block;
  font-size: 17px;
  padding: 10px;
  text-align: center;
}
.nav-logo {
  float: left;
}
#topnavToggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar li a:not(.nav-logo) {display: none;}
  #topnavToggle {
    float: right;
    display: block;
  }
  #topnav {
    position: relative;
    width: 100%;
  }
  #topnav.responsive #topnavToggle {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
  }
  #topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
}


h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
}

#hero-text {
  width: 50%;
  justify-content: center;
  padding: 20px;
}
#hero-text h2{
  padding: 10px 15px 0 15px;
}
#hero-text p, #hero-text span {
  padding: 10px 15px;
}
#parallax-hover {
  position: relative;
  width: 50%;
  overflow: hidden;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
#parallax-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 800px) {
  #hero {
    flex-direction: column-reverse;
  }
  #hero-text, #parallax-hover {
    width: 100%;
    height: 50%;
  }
}

p {
  font-size: 16px;
}

.tool {
  padding: 25px;
  width: 25%;

  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  border: 1px solid var(--dark);
}
.tool:hover {
  background-color: var(--highlight);
}

.service {
  margin: 10px;
  border: 1px solid var(--secondary);
  box-shadow: 0 10px 10px 0 var(--shadow);
}
.service .top {
  padding: 10px;
  background-size: cover;
  min-height: 200px;
  background-position: center;
}
#photography {
  background-image: url(../assets/images/camera.jpg);
}
#graphic-design {
  background-image: url(../assets/images/graphic-design.jpg);
}
#web-development {
  background-image: url(../assets/images/webdev.jpg);
}
.service .bottom {
  background-color: var(--dark);
  color: var(--light);

  padding: 10px;
}
.service .bottom p {
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  #services {
    flex-direction: column;
  }
}


#contact {
  overflow: hidden;
}
.parallax-scroll {
  background: url(../assets/images/meeting.jpg)
    repeat fixed 100%;
  background-size: cover;
}
.parallax-scroll-inner {
  height: 100vh;
  position: relative;
}
.parallax-scroll-inner .flex {
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.overlay{
  background: rgba(0, 0, 0, 0.75);
}

.tagline {
  color: var(--light);
  padding: 10px;
  margin: 10px 25px 47px 25px;
  width: 50%;
}
.tagline h1 {
  font-size: 40px;
  text-align: center;
  width: 60%;
}
#contact-form {
  width: 50%;
}
form {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  box-shadow: 0 10px 10px 0 var(--dark);

  margin: 10px 25px 47px 25px;
}
#contact-form div {
  width: 100%;
}
select {
  width: 100%;
}
textarea {
  width: 100%;
  resize: none;
}
@media screen and (max-width: 800px) {
  .tagline {
    display: none;
  }
  #contact-form {
    width: 100%;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark);
}
#footer .brand {
  position: relative;
  display: inline;
  font-size: 24px;
  padding: 5px 0 3px 5px;
}
#footer .link {
  display: inline;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  align-items: center;
}
#footer .link:hover {
  color: var(--primary);
}
.left{
  float: left;
}
.right {
  float: right;
}
.mb-5 {
  margin-bottom: 5px;
}
.labeled-input {
  justify-content: space-between;
}
.labeled-input label {
  width: 15%;
}
.labeled-input input {
  width: 85%;
}
