body {
  background-image: url('../assets/images/bar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: solid red 1px;
}
header a, .nav-link {
  color: white;
}
header a:hover {
  color: red;
}
header .nav-link:hover {
  background-color: white;
  color: red;
}
header .nav-pills .nav-link.active {
  background-color: red;
  color: white;
}
.btn-primary {
  background-color: red;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: darkred;
}
.hero {
  width: 100%;
}
.hero .nav .nav-link {
  color: red;
}
.hero .nav .nav-link:hover {
  background-color: red;
  color: white;
}

#footer {
  background-color: black;
  color: white;
}
#footer li {
  list-style: none;
  list-style-type: none;
}
#footer a {
  color: red;
}
#footer a:hover {
  color: white;
}
#map {
  height: 300px;
  width: 100%;
}
iframe {
  width: 100%;
}
#myCarousel img {
  width: auto;
  height: 500px;
  image-resolution: from-image;
  background-size: cover;
}
.center {
  text-align: center;
}
.price {
  float: right;
  text-align: right;
}
.app-title {
  float: left;
}
.topping {
  text-align: center;
}
