body {
  background-image: url('../assets/images/bar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: solid red 1px;
}
header a, .nav-link {
  color: white;
}
header a:hover {
  color: red;
}
.nav-link:hover {
  background-color: white;
  color: red;
}
.nav-pills .nav-link.active {
  background-color: red;
  color: white;
}
.btn-primary {
  background-color: red;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: darkred;
}
.hero {
  width: 100%;
}
footer {
  background-color: black;
  color: white;
}
footer li {
  list-style: none;
  list-style-type: none;
}
footer a {
  color: red;
}
footer a:hover {
  color: white;
}
#map {
  height: 300px;
  width: 100%;
}
iframe {
  width: 100%;
}
