main h2, main h3, main h4 {
  text-align: center;
}

.row {
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 100%;
}

span p {
  display: inline;
}
.app_item{
  float: left;
}
.price{
  float: right;
}
