* {
    box-sizing: border-box;
}

.deck{
    transform: rotateY(180deg);
    position: relative;
}

.card {
    --width: 10em;
    --height: calc(var(--width)*1.4);
    width: var(--width);
    height: var(--height);

    border: 1px solid black;
    border-radius: 0.25em;

    transform: rotateY(180deg);
    transition: all 1s linear;
    transform-style: preserve-3d;

}
.card:hover {
    cursor: pointer;
}
.card.show {
    transform: rotateY(0deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}
.front {
    background-color: white;
    z-index: 2;
}
.front,
.front * {
    backface-visibility: hidden;
}
.back {
    background: linear-gradient(#08AEEA, #2AF598);
    z-index: 1;
    transform: rotateY(180deg);
}

/* change card font color based on suit */
[data-suit='heart'].card,
[data-suit='diamond'].card {
    color: red;
}
[data-suit='spade'].card,
[data-suit='club'].card {
    color: black;
}

/* a CSS grid to place pips inside of */
.pip-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
}

.pip {
    grid-row-end: span 2;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* use suit image for pips */
[data-suit='heart'] .pip {
    background-image: url('../images/heart.svg');
}
[data-suit='diamond'] .pip {
    background-image: url('../images/diamond.svg');
}
[data-suit='spade'] .pip {
    background-image: url('../images/spade.svg');
}
[data-suit='club'] .pip {
    background-image: url('../images/club.svg');
}

/* change pip images for face cards */
[data-value="J"][data-suit="heart"] .pip,
[data-value="J"][data-suit="diamond"] .pip {
    background-image: url('../images/jack-red.svg');
}
[data-value="J"][data-suit="spade"] .pip,
[data-value="J"][data-suit="club"] .pip {
    background-image: url('../images/jack-black.svg');
}
[data-value="Q"][data-suit="heart"] .pip,
[data-value="Q"][data-suit="diamond"] .pip {
    background-image: url('../images/queen-red.svg');
}
[data-value="Q"][data-suit="spade"] .pip,
[data-value="Q"][data-suit="club"] .pip {
    background-image: url('../images/queen-black.svg');
}
[data-value="K"][data-suit="heart"] .pip,
[data-value="K"][data-suit="diamond"] .pip {
    background-image: url('../images/king-red.svg');
}
[data-value="K"][data-suit="spade"] .pip,
[data-value="K"][data-suit="club"] .pip {
    background-image: url('../images/king-black.svg');
}

/* placement for card value labels  */
.corner-number { position: absolute; }
.corner-number.top {
    top: 0.25em;
    left: 0.25em;
    transform: rotate(0deg);
}
.corner-number.bottom {
    bottom: 0.25em;
    right: 0.25em;
    transform: rotate(180deg);
}

.corner-number::after{
    line-height: 0;
    display: block;
    width: 0.85em;
}

/* display suit image under corner number */
[data-suit='heart'] .corner-number::after{
    content: url('../images/heart.svg');
}
[data-suit='diamond'] .corner-number::after{
    content: url('../images/diamond.svg');
}
[data-suit='spade'] .corner-number::after{
    content: url('../images/spade.svg');
}
[data-suit='club'] .corner-number::after{
    content: url('../images/club.svg');
}

/* pip placement for cards with data-value = A, J, Q, K */
[data-value="A"] .pip:first-child,
[data-value="J"] .pip:first-child,
[data-value="Q"] .pip:first-child,
[data-value="K"] .pip:first-child {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: span 6;
    grid-column-end: span 3;
}

/* pip placement for cards with data-value = 2 */
[data-value="2"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
} 
[data-value="2"] .pip:nth-child(2) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 3 */
[data-value="3"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
} 
[data-value="3"] .pip:nth-child(2) {
    grid-row-start: 4;
    grid-column-start: 2;
}
[data-value="3"] .pip:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 4 */
[data-value="4"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="4"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="4"] .pip:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="4"] .pip:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 5 */
[data-value="5"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="5"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="5"] .pip:nth-child(3) {
    grid-row-start: 4;
    grid-column-start: 2;
}
[data-value="5"] .pip:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="5"] .pip:nth-child(5) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 6 */
[data-value="6"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="6"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="6"] .pip:nth-child(3) {
    grid-row-start: 4;
    grid-column-start: 1;
}
[data-value="6"] .pip:nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 3;
}
[data-value="6"] .pip:nth-child(5) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="6"] .pip:nth-child(6) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 7 */
[data-value="7"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="7"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="7"] .pip:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
}
[data-value="7"] .pip:nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 1;
}
[data-value="7"] .pip:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 3;
}
[data-value="7"] .pip:nth-child(6) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="7"] .pip:nth-child(7) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 8 */
[data-value="8"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="8"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="8"] .pip:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
}
[data-value="8"] .pip:nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 1;
}
[data-value="8"] .pip:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 3;
}
[data-value="8"] .pip:nth-child(6) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
}
[data-value="8"] .pip:nth-child(7) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="8"] .pip:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

/* pip placement for cards with data-value = 9 */
[data-value="9"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="9"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="9"] .pip:nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 1;
}
[data-value="9"] .pip:nth-child(4) {
    grid-row-start: 3;
    grid-column-start: 3;
}
[data-value="9"] .pip:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 2;
}
[data-value="9"] .pip:nth-child(6) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="9"] .pip:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
}
[data-value="9"] .pip:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="9"] .pip:nth-child(9) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}


/* pip placement for cards with data-value = 10 */
[data-value="10"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
} 
[data-value="10"] .pip:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
}
[data-value="10"] .pip:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
}
[data-value="10"] .pip:nth-child(4) {
    grid-row-start: 3;
    grid-column-start: 1;
}
[data-value="10"] .pip:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 3;
}
[data-value="10"] .pip:nth-child(6) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="10"] .pip:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
}
[data-value="10"] .pip:nth-child(8) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
}
[data-value="10"] .pip:nth-child(9) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}
[data-value="10"] .pip:nth-child(10) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}